.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-right: 18px;
  padding-left: 0;
  
  .avatar {
    margin-top: .15rem;
    margin-right: .75rem;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 1.875rem;
    height: 1.875rem;

    .picture {
      border-radius: 50%;
      background-size: cover;
      background-position: 50%;
      width: 100%;
      height: 100%;
    }
  }

  .message-container {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    .info-line {
      margin: 0 12px;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      padding: .3125rem 0;
      font-size: 12px;
      color: #9a9a9a;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }

    .content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      width: 100%;
      
      .bubble {
        border-radius: 20px;
        max-width: 100%;
        background-color: #f8f8f8;
        padding: .5rem .75rem;
        white-space: pre-wrap;
        word-break: break-word;

        p {
          margin: 0;
        }
      }
    }
  }
}

.user {
  padding-right: 0;

  .message-container {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;

    .content {
      padding-left: 60px;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;

      .bubble {
        color: rgb(255, 255, 255);
        background-color: rgb(1, 118, 255);
      }
    }
  }
}

@keyframes typingAnimation {
  0% { transform: translateY(0px); }
  28% { transform: translateY(-6px); }
  44% { transform: translateY(0px); }
}

.typingGroup {
  align-items: center;
  display: flex;
  height: 17px;

  .typingBubble {
    animation: typingAnimation 1s infinite ease-in-out;
    border-radius: 50%;
    height: 6px;
    margin-right: 4px;
    vertical-align: middle;
    width: 6px;
    background-color: #4076e2;
    color: rgb(148, 62, 62);
    white-space: pre-wrap;
    font-size: 16px;
    direction: ltr;

    &:nth-child(1) { animation-delay: 200ms; }
    &:nth-child(2) { animation-delay: 300ms; }
    &:nth-child(3) { animation-delay: 400ms; }
  }
}
