$bg-color: #FFFFFF;
$bot-bg-color: #ecf0f1;
$bot-text-color: #FFFFFF;
$client-bg-color: #46CBA0;
$client-text-color: #ecf0f1;

.chat {
  height: calc(100vh);
  display: flex;
  flex-direction: column;

  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch;
}

.messages {
  background-color: $bg-color;
  background-size: cover;
  display: flex;
  flex: 1;
  flex-direction: column;

  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
}

.header {
  display: flex;
  flex-direction: column;
  height: 42px;
  text-align: center;
  justify-content: center;

  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.header h1 {
  font-size: 18px;
}

.composer {
  display: flex;
  height: 42px;
  align-items:center;
}

.composer input {
  background-color: $bg-color;
  border: 0;
  flex: 1;
  padding: 10px;
  outline: none;
}

.list {
  flex-direction: row;
  align-items: flex-start; /* align items in Cross Axis */
  align-content: flex-start; /* Extra space in Cross Axis */
  overflow: scroll;
}

.message {
  clear: both;
  display: inline-block;
  float: left;
  background-color: $bot-bg-color;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  position: relative;
}

.message {
  max-width: 80%;
  border-radius: 20px;
  padding: 10px 16px;
}

.message img {
  max-width: 100%;
  border-radius: 5px;
}

.you {
  background-color: $client-bg-color;
  color: $client-text-color;
  float: right;
  position: relative;
  right: 0;
}

.fadeInUp-enter {
  opacity: 0.01;
  transform: translate(0px, 10px);
}

.fadeInUp-enter.fadeInUp-enter-active {
  opacity: 1;
  transform: translate(0px, 0px);
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}

.typing {
  padding: 0px 10px;
}

.composer div {
  border-radius: 10px;
  cursor: pointer;
  margin: 2.5px;
  -webkit-user-select: none;
}

.composer div img {
  padding: 5px 15px;
}

.hidden {
  display: none;
  background-color: $bg-color;
}

.send {
  width: 50px;
  background-color: $client-bg-color;
  color: $client-text-color;
  border-radius: 0 !important;
  height: 40px;
  border: none;
  line-height: 40px;
  font-size: 30px;
  display: block;
  text-align: center;
}
