.messages {
  position: relative;
  height: 100%;
  overflow-y: auto !important;

  background-color: #fefefe;
  display: flex;
  flex: 1;
  flex-direction: column;

  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
}

.messages.typing {
  height: calc(100% - 40px);
}

.messages > div {
  position: absolute;
  width: 100%;
  max-height: 100%;
  bottom: 0;

  div:first-child {
    margin-top: 10px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  height: 42px;
  text-align: center;
  justify-content: center;
}

.header h1 {
  font-size: 18px;
}

.composer {
  display: flex;
  height: 60px;
  align-items: center;
  border-top: 1px solid #ddd;
  background-color: white;
}

.composer input {
  border: 0;
  flex: 1;
  padding: 10px;
  outline: none;
  background-color: #fbfbfb;
}

.list {
  height: 100%;
  flex-direction: row;
  align-items: flex-start; /* align items in Cross Axis */
  align-content: flex-start; /* Extra space in Cross Axis */
  overflow-y: auto;
}

.message {
  clear: both;
  white-space: pre-line;
  display: inline-block;
  float: left;
  background: #ecf0f1;
  border-radius: 5px;
  padding: 10px;
  margin: 0 10px 10px 10px;
  position: relative;
}

.message {
  max-width: 80%;
}

.message img {
  max-width: 100%;
  border-radius: 5px;
}

.you {
  background-color: #2ecc71;
  color: #fff;
  float: right;
  position: relative;
  right: 0;
}

.fadeInUp-enter {
  opacity: 0.01;
  transform: translate(0px, 10px);
}

.fadeInUp-enter.fadeInUp-enter-active {
  opacity: 1;
  transform: translate(0px, 0px);
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}

.typing {
  text-align: center;

  .spinner {
    color: #58d1b0;

    div {
      width: 10px;
      height: 10px;
    }
  }
}

.composer input {
  height: 100%
}

.composer div {
  background-color: #2ecc71;
  border-radius: 10px;
  color: #ecf0f1;
  cursor: pointer;
  margin: 2.5px;
  -webkit-user-select: none;
}

.composer div img {
  padding: 5px 15px;
}

.composer .hidden {
  display: none;
}

.newConvo {
  .text {
    font-size: 20px;
    color: #aaa;
    text-align: center;
    padding: 40px;
  }

  .sayHi {
    margin: auto;
    width: 150px;
    height: 50px;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
    
    border-radius: 22px;

    cursor: pointer;
    color: #58d1b0;
    font-size: 16px;
    font-weight: 600;
    
    border: 1px solid #58d1b0;
    background-color: white;
    transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;

    &:hover {
      background-color: #58d1b0;
      color: white;
    }

    &:active {
      background-color: #52C3A4;
      color: white;
    }
  }
}
