.chat {
  height: calc(100vh);
  display: flex;
  flex-direction: column;

  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch;
}

.messages {
  position: relative;
  height: 100%;
  overflow-y: auto !important;

  background-color: #fefefe;
  display: flex;
  flex: 1;
  flex-direction: column;

  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
}

.messages > div {
  position: absolute;
  width: 100%;
  max-height: 100%;
  bottom: 0;
}

.header {
  display: flex;
  flex-direction: column;
  height: 42px;
  text-align: center;
  justify-content: center;
}

.header h1 {
  font-size: 18px;
}

.composer {
  display: flex;
  height: 60px;
  align-items: center;
  border-top: 1px solid #ddd;
  background-color: white;
}

.composer input {
  border: 0;
  flex: 1;
  padding: 10px;
  outline: none;
  background-color: #fbfbfb;
}

.list {
  height: 100%;
  flex-direction: row;
  align-items: flex-start; /* align items in Cross Axis */
  align-content: flex-start; /* Extra space in Cross Axis */
  overflow-y: auto;
}

.message {
  clear: both;
  display: inline-block;
  float: left;
  background: #ecf0f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  position: relative;
}

.message {
  max-width: 80%;
}

.message img {
  max-width: 100%;
  border-radius: 5px;
}

.you {
  background-color: #2ecc71;
  color: #fff;
  float: right;
  position: relative;
  right: 0;
}

.fadeInUp-enter {
  opacity: 0.01;
  transform: translate(0px, 10px);
}

.fadeInUp-enter.fadeInUp-enter-active {
  opacity: 1;
  transform: translate(0px, 0px);
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}

.typing {
  padding: 0px 10px;
}

.composer input {
  height: 100%
}

.composer div {
  background-color: #2ecc71;
  border-radius: 10px;
  color: #ecf0f1;
  cursor: pointer;
  margin: 2.5px;
  -webkit-user-select: none;
}

.composer div img {
  padding: 5px 15px;
}

.composer .hidden {
  display: none;
}
